<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
    <th:block layout:fragment="content">
        테스트 입니다
    </th:block>

    <th:block layout:fragment="css">
        <style>

            .container {
              border: 1px solid #000000; /* 전체 테두리에 선을 추가합니다 */
              padding: 10px; /* 내부 여백을 조절합니다 */
            }

            .nav-tabs {
              justify-content: flex-start; /* 탭을 왼쪽으로 정렬합니다 */
            }

        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script></script>
    </th:block>
</html>