
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/member.css" rel="stylesheet">



</head>
<body>
<div id="container" class="container" >

    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN UP 회원가입-->
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <form  class="form sign-up" action="/member/register">
                    <div class="input-group">
                        <!--                        <i class='bx bxs-user'></i>-->
                        <input type="text" placeholder="Username" id="username" required>
                    </div>
                    <div class="input-group">
                        <!--                        <i class='bx bxs-id'></i>-->
                        <input type="text" placeholder="Id" id="id" required>
                    </div>
                    <div class="input-group">
                        <!--                        <i class='bx bxs-address'></i>-->
                        <input type="text" placeholder="address" id="address" required>
                    </div>
                    <div class="input-group">
                        <!--                        <i class='bx bxs-phone'></i>-->
                        <input type="text" id="phoneNum" placeholder="phoneNum" id="phoneNum" maxlength="13" required>
                    </div>


                    <div class="input-group">
                        <!--                        <i class='bx bx-mail-send'></i>-->
                        <input type="email" placeholder="Email" id="email" required>
                    </div>
                    <div class="input-group">
                        <!--                        <i class='bx bxs-lock-alt'></i>-->
                        <input type="password" placeholder="Password" id="password" required>
                    </div>
                    <div class="input-group">
                        <!--                        <i class='bx bxs-lock-alt'></i>-->
                        <input type="password" placeholder="Confirm password" id="password2" required>
                    </div>


<!--                    &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--                        Launch demo modal-->
<!--                    </button>-->

<!--                    &lt;!&ndash; Modal &ndash;&gt;-->
<!--                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    ...-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <!-- Button trigger modal -->
                    <button button id="btn-save" class="btn btn-primary" type="button" onclick="openModal()" style="margin-top: 50px;">
                        회원가입 완료
                    </button>



                    <p>
                    <h5>
                        이미 계정이있나요?   <b onclick="toggle()" class="pointer">로그인</b>
                    </h5>
                    </p>
                </form>
            </div>

        </div>
        <!-- END SIGN UP -->
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <form class="form sign-in"  >
                    <div class="input-group">
                        <!--                        <i class='bx bxs-user'></i>-->
                        <input type="text" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <!--                        <i class='bx bxs-lock-alt'></i>-->
                        <input type="password" placeholder="Password" required>
                    </div>
                    <button>
                        로그인
                    </button>
                    <p>
                        <b>아이디 찾기</b>   |
                        <b>비밀번호 찾기</b>
                    </p>
                    <p>
                    <h5>
                        계정이 없나요? <b onclick="toggle()" class="pointer">회원가입</b>
                    </h5>

                    </p>
                </form>
            </div>
            <div class="form-wrapper">

            </div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
<!--                <h2 class="welcome">-->
<!--                </h2> <br>-->
                <h2 class="welcome2">
                    META-SU
                </h2>
            </div>
            <div class="img sign-in">

            </div>
        </div>
        <!-- END SIGN IN CONTENT -->
        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="img sign-up">

            </div>
            <div class="text sign-up">
                <h2 class="welcome2">
                    Join with us
                </h2>
            </div>
        </div>
        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>

<!-- Button trigger modal -->
<button type="button" onclick="openModal()" class="btn">Launch Modal</button>

<!-- Modal -->
<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">회원가입에 성공하였습니다!</h3>
                <button type="button" onclick="closeModal()" class="close">&times;</button>
            </div>
<!--            <div class="modal-body">
                <p>This is the content of the modal.</p>
            </div>-->
            <div class="modal-footer">
                <button type="button" onclick="closeModal()" class="btn btn-secondary">홈으로</button>
                <button type="button" onclick="closeModal()" class="btn btn-secondary">로그인하기</button>
            </div>
        </div>
    </div>
</div>

</div>


</body>

<script src="/js/member.js">


</script>
</html>






