<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/member.css" rel="stylesheet">
    <script th:inline="javascript">
    /* 경고창을 표시하는 함수 */
    function showAlert() {
        var memberId = /*[[${memberId}]]*/ null;
        var message = /*[[${message}]]*/ null;
        if (message != null) {
            alert("이메일이 전송되었습니다.");
        }
        if (memberId != null) {
            alert("찾은 아이디: " + memberId);
        }
    }
</script>
</head>

<body>
<span th:if="${loginError != null}">
        <script>
            alert("회원정보가 일치하지 않습니다.");
        </script>
    </span>

<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <form class="form sign-in" action="/member/login" method="post">
                    <div class="input-group">
                        <input type="text" name="username" placeholder="id" required>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" placeholder="password" required>
                    </div>
                    <button>로그인</button>
                    <p>
                        <a style="color:black; text-decoration: none;" th:href="@{/member/id}"><b>아이디 찾기</b></a> |
                        <a style="color:black; text-decoration: none;" th:href="@{/member/password}"><b>비밀번호 찾기</b></a>
                    </p>
                    <p>
                    <h5>계정이 없으신가요? <b onclick="redirectToRegister()" class="pointer">회원가입</b></h5>
                    </p>
                </form>
            </div>
        </div>
        <!-- END SIGN IN -->

        <!-- CONTENT SECTION -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <!-- <h2 class="welcome"></h2> <br> -->
                <h2 class="welcome2">
                    META-SU
                </h2>
            </div>
            <div class="img sign-in">

            </div>
        </div>
        <!-- END CONTENT SECTION -->
    </div>
    <!-- END FORM SECTION -->

    <script th:inline="javascript">
    function redirectToRegister() {
        location.href = "/member/register";
    }
</script>
    <script th:if="${memberId != null} or ${message != null}">
    /* 경고창을 표시하는 함수를 호출 */
    showAlert();
</script>
</body>

</html>
