<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      >
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/css/member.css" rel="stylesheet">
</head>
<body>
<div id="container" class="container">

  <!-- FORM SECTION -->
  <div class="row">

    <!-- SIGN IN -->
    <div class="col align-items-center flex-col sign-in">
      <div class="form-wrapper align-items-center">
        <form class="form sign-in" th:action="@{/member/password}" method="post" >
          <div class="input-group">
            <!--                        <i class='bx bxs-user'></i>-->
            <input type="text" name="id" placeholder="id" required>
            <input type="text" name="email" placeholder="email" required>
          </div>
          <button type="submit">
            비밀번호 초기화
          </button>
          <p>
            <a th:href="@{/member/id}"><b>아이디 찾기</b></a> | <a th:href="@{/member/login}"><b>로그인</b></a>
          </p>

          <h5>
            계정이 없으신가요? <b onclick="redirectToRegister()" class="pointer">회원가입</b>
          </h5>
          </p>

        </form>
      </div>
      <div class="form-wrapper">

      </div>
    </div>
    <!-- END SIGN IN -->
  </div>
  <!-- END FORM SECTION -->
  <!-- CONTENT SECTION -->
  <div class="row content-row">
    <!-- SIGN IN CONTENT -->
    <div class="col align-items-center flex-col">
      <div class="text sign-in">
        <!--                <h2 class="welcome">-->
        <!--                </h2> <br>-->
        <h2 class="welcome2">
          META-SU
        </h2>
      </div>
      <div class="img sign-in">

      </div>
    </div>
    <!-- END SIGN IN CONTENT -->

    <!-- END SIGN UP CONTENT -->
  </div>
  <!-- END CONTENT SECTION -->
</div>

<!-- Button trigger modal -->
<button type="button" onclick="openModal()" class="btn">Launch Modal</button>

<!-- Modal -->
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">회원가입에 성공하였습니다!</h3>
        <button type="button" onclick="closeModal()" class="close">&times;</button>
      </div>
      <!--            <div class="modal-body">
                      <p>This is the content of the modal.</p>
                  </div>-->
      <div class="modal-footer">
        <button type="button" onclick="closeModal()" class="btn btn-secondary">홈으로</button>
        <button type="button" onclick="closeModal()" class="btn btn-secondary">로그인하기</button>
      </div>
    </div>
  </div>
</div>

</div>


</body>

<script>
  function redirectToRegister() {
    location.href = "/member/register";
  }
</script>
<span th:if="${message != null}">
  <script>
    alert('회원정보가 일치하지 않습니다.');
  </script>

</span>
</html>






