<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="headerFragment">
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__close"></div>
		<ul class="offcanvas__widget">
			<li><span class="icon_search search-switch"></span></li>
			<li><a href="#"><span class="icon_heart_alt"></span>
				<div class="tip" id="like">2</div>
			</a></li>
			<li><a href="@{/cart/{memberId}(memberId=${dto2.memberId})}"><span class="icon_bag_alt"></span>
				<div class="tip" id="cart">2</div>
			</a></li>
		</ul>
		<div class="offcanvas__logo">
			<a href="./index.html"><img th:src="@{/img/logo.png}" alt=""></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<!--					check if user is authenticated. if yes, show logout button. if not show the login/register button-->
<!--
		<div sec:authorize="isAuthenticated()" class="offcanvas__auth">
			<a th:href="@{/logout}">Logout</a>
		</div> -->
		<div th:if="!${#request.userPrincipal}" class="offcanvas__auth">
			<a th:href="@{/member/login}">Login</a>
			<a th:href="@{/member/register}">Register</a>
		</div>
	</div>
	<!-- Offcanvas Menu End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-3 col-lg-2">
					<div class="header__logo">
						<a th:href="@{/home/home}"><img th:src="@{/img/logo.png}" alt="" style="max-width:60%"></a>
					</div>
				</div>
				<div class="col-xl-6 col-lg-7">
					<nav class="header__menu">
						<ul>
							<li><a th:href="@{/home/home}">PRODUCT</a>
								<ul class="dropdown">
									<li><a href="./product-details.html">Product Details</a></li>
									<li><a href="./shop-cart.html">Shop Cart</a></li>
									<li><a href="./checkout.html">Checkout</a></li>
									<li><a href="./blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li><a href="#">SERVICE</a></li>
							<li><a href="#">EVENT</a></li>
							<li><a href="./shop.html">Q&A</a></li>
							<li><a href="#">Pages</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="header__right">
<!--					check if user is authenticated. if yes, show logout button. if not show the login/register button-->
<!--						<div sec:authorize="isAuthenticated()" class="header__right__auth">
							<a th:href="@{/logout}">Logout</a>
						</div> -->
						<div th:if="!${#request.userPrincipal}" class="header__right__auth">
							<a th:href="@{/member/login}">Login</a>
							<a th:href="@{/member/register}">Register</a>
						</div>
						<ul class="header__right__widget">
							<li><span class="icon_search search-switch"></span></li>
							<li><a href="#"><span class="icon_heart_alt"></span>
								<div class="tip">2</div>
							</a></li>
							<li><a href="@{/cart/{memberId}(memberId=${dto2.memberId})}"><span class="icon_bag_alt"></span>
								<div class="tip"><span th:text="${totalCart}"></span></div>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->
</header>
</html>